@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white min-h-screen scroll-smooth;
  background-color: black; /* Fallback for non-site pages */
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.purple');
  border-radius: 4px;
}