@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* Drop bg-graphite so the cinematic background is visible */
  @apply min-h-screen text-white scroll-smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.purple');
  border-radius: 4px;
}
